body {
    font-family: 'Lexend', sans-serif;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    overflow: auto;
    /* Ensure body is scrollable */
}

#containerTable {
    max-height: 90vh;
    /* Set maximum height */
    overflow-y: auto;
    /* Enable vertical scrolling */
    display: flex;
    justify-content: center;
    margin: 20px auto;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 12px;
    backdrop-filter: blur(13px) saturate(160%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(215, 183, 154, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.h1,
h2 {
    font-family: 'Lexend', sans-serif;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 12px;
    backdrop-filter: blur(13px) saturate(160%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    padding: 1%;
    background-color: rgba(207, 207, 172, 0.459);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.acceuilPCdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginPannel {
    display: flex;
    flex-direction: column;
    background-color: #143649;
    width: 35vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.loginPannel>* {
    scale: 1.4;
}

#loginTitle {
    color: #F1D35B;
    margin-top: -17vh;
    margin-bottom: 15vh;
}

#loginContainer {
    display: flex;
    flex-direction: column;
    width: 30vh;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(0, 0, 0, 0.32);
    align-items: center;
    align-content: center;
    scale: 1.1;
}

#loginContainer>* {
    margin: 1vh;
}

.fieldLogin {
    /*margin: auto;*/
    margin-bottom: 1vh !important;
    font-family: inherit;
}

input {
    border-radius: 6px;
    height: 4vh;
    box-shadow: none;
    outline: none;
    border: none;
}

#userNameId {
    margin-top: 4vh;
}

#submit {
    margin-bottom: 3vh;
    color: #F1D35B;
    background-color: #20627B;
    border-radius: 100px;
    font-size: unset;
    font-size: 80%;
    scale: 1.2;
}

#submit:hover {
    outline: 1px solid #F1D35B;
}

#messageErreur {
    text-align: center;
    font-weight: bold;
    word-wrap: break-word;
    z-index: 2400;
}

.success {
    color: rgb(81, 163, 81);
}

.error {
    color: red;
}

header {
    background-color: #133f4e;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav,
.navs {
    position: relative;
}

.nav a,
.navs>a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.nav a:hover,
.navs>a:hover {
    background-color: #39778d;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #356475;
    display: none;
    padding: 10px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 100;
}

.submenu div {
    padding: 5px 20px;
}

.submenu div a {
    color: white;
    text-decoration: none;
}

.submenu div a:hover {
    background-color: #39778d;
}

/* Affiche le sous-menu au survol du parent */
.navs:hover .submenu {
    display: block;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th,
td {
    padding: 2%;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}

th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

td {
    align-items: center;
    padding: 1%;
}

td>div {
    border-top: 1px solid hsla(0, 0%, 100%, 0.274);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.274);
}

.hidden {
    display: none;
}

.hiddenStill {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.match-gagne {
    background-color: rgba(0, 255, 0, 0.2); /* Vert transparent */
}

.match-perdu {
    background-color: rgba(255, 0, 0, 0.2); /* Rouge transparent */
}

.match-inconnu {
    background-color: rgba(128, 128, 128, 0.2); /* Gris transparent */
}


/* camenbert */

.legend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto;
    width: 200px;
}

.legend div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend div span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.green {
    background-color: #28a745;
}

.red {
    background-color: #dc3545;
}

.gray {
    background-color: #6c757d;
}

/* podium */
.podium {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.place {
    text-align: center;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    font-size: 1.2rem;
    color: white;
}

.place.first {
    background-color: gold;
    color: black;
    font-weight: bold;
}

.place.second {
    background-color: silver;
    color: black;
    font-weight: bold;
}

.place.third {
    background-color: #cd7f32;
    /* Couleur bronze */
    color: black;
    font-weight: bold;
}

.medal {
    font-size: 1.5rem;
    margin-right: 10px;
}

#divPc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 12px;
    backdrop-filter: blur(13px) saturate(160%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(215, 183, 154, 0.599);
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 3%;
    padding-left: 8%;
    padding-right: 8%;
    text-align: center;
    gap: 20px;
}

.editButton {
    background-color: #b4dbeb;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.editButton:hover {
    background-color: #7ca6b5;
}

.deleteButton {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.deleteButton:hover {
    background-color: #c0392b;
}