body{
    font-family:'Lexend', sans-serif;
    margin-left: 0;
    margin-top: 0; 
    padding: 0; 
    overflow: hidden;
    height: 100vh; 
    width: 100vw;  
    background-image: url("../img/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* LOGIN ET INSERT */
.loginPannel{
    display: flex;
    flex-direction: column;
    background-color: #143649;
    width: 35vw;
    height: 100vh;
    align-items: center;
    justify-content:center;
}

.loginPannel > *{
    scale: 1.4;
}

#loginTitle{
    color: #F1D35B;
    margin-top: -17vh;
    margin-bottom: 15vh;
}

#loginContainer{
    display: flex;
    flex-direction: column;

    height: 25vh;
    width: 30vh;

    background: rgba(0, 0, 0, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(0, 0, 0, 0.32);

    align-items: center;
    align-content: center;
    scale: 1.1;
}

.fieldLogin{
    margin: auto;
    font-family: inherit;
}

input{
    border-radius: 6px;
    height: 4vh;
    box-shadow: none;
    outline: none;
    border: none;
}

#userNameId{
    margin-top: 4vh;
}

#submit{
    margin-bottom: 3vh;
    color: #F1D35B;
    background-color: #20627B;
    border-radius: 100px;    
    font-size:unset ;
    font-size: 80%;
    scale: 1.2;
}

#submit:hover{
    outline: 1px solid #F1D35B;
}

#messageErreur {
    text-align: center;
    font-weight: bold;
    word-wrap: break-word;
}
.success {
    color: green;
}
.error {
    color: red;
}

header {
    background-color: #133f4e;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav, .navs {
    position: relative; 
}

.nav a, .navs > a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.nav a:hover, .navs > a:hover {
    background-color: #39778d;
}

.submenu {
    position: absolute;
    top: 100%; 
    left: 50%; 
    transform: translateX(-50%);
    background-color: #356475;
    display: none; 
    padding: 10px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 100; 
}

.submenu div {
    padding: 5px 20px;
}

.submenu div a {
    color: white;
    text-decoration: none;
}

.submenu div a:hover {
    background-color: #39778d;
}

/* Affiche le sous-menu au survol du parent */
.navs:hover .submenu {
    display: block;
}
